
#overall-response {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}


.question-response {
  margin-bottom: 20px;
}


.question-number {
  font-weight: bold;
  margin-right: 20px;
}

.student-response {
  font-weight: bold;
  color: #0000ff; 
}

.correct-response {
  font-weight: bold;
  color: #00ff00; 
}
